<div class="col">
    <div class="card shadow-sm">
        <svg 
            class="bd-placeholder-img card-img-top" 
            width="75%" 
            height="100" 
            xmlns="http://www.w3.org/2000/svg" 
            role="img" 
            aria-label="Placeholder: Thumbnail" 
            preserveAspectRatio="xMidYMid slice" f
            ocusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
        </svg>
        <div class="card-body">
        <p>{{ product.name }}</p>
        <p>Prix à l'<strong>unité</strong> :{{ product.pricePerUnit }}</p>
        <p>Prix au <strong>kilo</strong> :{{ product.pricePerKg }}</p>
        {% if product.unit == true %}
            <small>à l'unité</small>
        {% elseif product.unit == false and product.unit is not null %}
            <small>au Kilo</small>
        {% else %}
            <small>.</small>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <p>addOnCart{{number+1}}</p>
            <a href={{ path('app_order',{'name' : product.name}) }} product.name class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">👁</a>
            {% if product.unit %}
                <a id="addOnCart{{ number+1 }}" onclick="fetch('http://127.0.0.1:8000/cart_add%3Fid='+{{ product.id }})
                                                        .then(response => response.text())
                                                        .catch(error => alert('Erreur : ' + error));"
                data-id="{{ product.name }}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">+🛒</a>
            {% else %}
                <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Bottom popover">
                    Popover on bottom
                </button>
                <script>
                    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
                    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
                </script>

            {% endif %}
        </div>
        </div>
        </div>
    </div>
</div>