<div class="col">
    <div class="card shadow-sm">
        <svg 
            class="bd-placeholder-img card-img-top" 
            width="75%" 
            height="100" 
            xmlns="http://www.w3.org/2000/svg" 
            role="img" 
            aria-label="Placeholder: Thumbnail" 
            preserveAspectRatio="xMidYMid slice" f
            ocusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
        </svg>
        <div class="card-body">
        <p>{{ product.name }}</p>
        <p>Prix à l'<strong>unité</strong> :{{ product.price }}</p>
        <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <a href={{ path('app_order',{'name' : product.name}) }} product.name class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">👁</a>
            <script>
                $( document ).on("click","#product{{ product.id }}",() => {
                    fetch('http://127.0.0.1:8000/cart_add%3Fid='+{{ product.id }})
                        .then(response => response.text())
                        .catch(error => alert('Erreur : ' + error));
                })
                    
            </script>
            <a id="product{{ product.id }}" 
                data-id="{{ product.name }}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">+🛒</a>
            
        </div>
        </div>
        </div>
    </div>
</div>