<div class="col">
    <div class="card shadow-sm">
        <svg 
            class="bd-placeholder-img card-img-top" 
            width="75%" 
            height="100" 
            xmlns="http://www.w3.org/2000/svg" 
            role="img" 
            aria-label="Placeholder: Thumbnail" 
            preserveAspectRatio="xMidYMid slice" f
            ocusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
        </svg>
        <div class="card-body">
        <p>{{ product.name }}</p>
        <p>Prix à l'<strong>unité</strong> :{{ product.pricePerUnit }}</p>
        <p>Prix au <strong>kilo</strong> :{{ product.pricePerKg }}</p>
        {% if product.unit == true %}
            <small>à l'unité</small>
        {% elseif product.unit == false and product.unit is not null %}
            <small>au Kilo</small>
        {% else %}
            <small>.</small>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <a href={{ path('app_order',{'name' : product.name}) }} product.name class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">👁</a>
            <a id="addOnCart1" data-id="{{ product.id }}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">+🛒</a>
            
            {#{% if product.unit %}
                
            {% else %}
                <a id="addOnCart" data-id="{{ product.id }}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">+🛒</a>
            {% endif %}#}
        </div>
        </div>
        </div>
    </div>
</div>
<script language = "javascript">
    $(document).ready(() => {
        for (let i = 0; i < 9; i++){
            let id = 'addOnCart'+i;
            $('#'+id).click((event)=>{
                alert(event.target.dataset.id);
                //const dataset = event.target.dataset;
                /*fetch('http://127.0.0.1:8000/cart_add%3Fid='+dataset.id)
                .then(response => alert(response.text()))
                .then(text => alert(text))
                .catch(error => alert('Erreur : ' + error));
            */});
        }                  
    });
</script>