{% for number, element in data %}
                <script>
                    $( document ).on("click","#product{{ element.product.id }}all0",function() {
                        const element = document.getElementById("product{{ element.product.id }}");
                        fetch('{{ app.request.getBaseURL() }}/api_delete_cart%3Fid={{ element.product.id }}')
                            .then(response => response.text())
                            .catch(error => alert('Erreur : ' + error));
                        if ($(this).closest("tr").find("td:eq(2)").text() > 1){
                            document.getElementById("quantity{{ element.product.id }}").innerHTML -= 1;
                        } else {
                            $(this).closest('tr').remove();
                        }
                    }); 
                    $( document ).on("click","#product{{ element.product.id }}all1",function() {
                        const element = document.getElementById("product{{ element.product.id }}");
                        fetch('{{ app.request.getBaseURL() }}/api_unset_cart%3Fid={{ element.product.id }}')
                            .then(response => response.text())
                            .catch(error => alert('Erreur : ' + error));
                        $(this).closest('tr').remove();
                    });
                    $( document ).on("click","#product{{ element.product.id }}",function() {
                        const element = document.getElementById("product{{ element.product.id }}");
                        fetch('{{ app.request.getBaseURL() }}/api_add_cart%3Fid={{ element.product.id }}')
                            .then(response => response.text())
                            .catch(error => alert('Erreur : ' + error));
                        document.getElementById("quantity{{ element.product.id }}").innerHTML = parseInt(document.getElementById("quantity{{ element.product.id }}").innerHTML) + 1;
                    });      
                </script>
                    <tr id="ligne{{ element.product.id }}" value="{{ number }}">
                        <td>{{ element.product.name }}</td>
                        <td>{{ element.product.pricePerKg }}</td>
                        <td id="quantity{{ element.product.id }}" value={{ element.quantity }}>{{ element.quantity }}</td>
                        <td>{{ element.quantity * element.product.pricePerKg }}</td>
                        <td>
                            <a id="product{{ element.product.id }}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">+🛒</a>
                            <a id="product{{ element.product.id }}all0" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">-🛒</a>
                            <a id="product{{ element.product.id }}all1" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">❌</a>
                        </td>
                    </tr>
                    
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Votre panier est <strong>vide</strong></td>
                    </tr>
                {% endfor %}