{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>PricePerKg</th>
                <th>PricePerUnit</th>
                <th>Origin</th>
                <th>Unit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.PricePerKg }}</td>
                <td>{{ order.PricePerUnit }}</td>
                <td>{{ order.origin }}</td>
                <td>{{ order.unit ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_crete_order_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('app_crete_order_edit', {'id': order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_crete_order_new') }}">Create new</a>
{% endblock %}
