{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ order.name }}</td>
            </tr>
            <tr>
                <th>PricePerKg</th>
                <td>{{ order.PricePerKg }}</td>
            </tr>
            <tr>
                <th>PricePerUnit</th>
                <td>{{ order.PricePerUnit }}</td>
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ order.origin }}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ order.unit ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_crete_order_index') }}">back to list</a>

    <a href="{{ path('app_crete_order_edit', {'id': order.id}) }}">edit</a>

    {{ include('crete_order/_delete_form.html.twig') }}
{% endblock %}
