<div class="container-fluid d-grid gap-3 align-items-center border border-bottom" style="grid-template-columns: 1fr 2fr;">
    <a href="{{ path('app_home') }}">logo enterprise</a>


    <div class="d-flex align-items-center">
        <form class="w-100 me-3" role="search">
            <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        
      	
    </div>
</div>
  