<div>
    <h4>Panier</h4>
    {#{% for element in cart %}
        <p>{{ element.name }}</p>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endfor %}#}
    <p id="flash"> ici seras affiché des flash de succès et d'erreurs</p>

</div>
<script>
    $( document ).click(() => {
        fetch('http://127.0.0.1:8000/app_api_get_cart')
            .then((response) => alert(response.json()))
            .then((result) => {
                console.log('Success :', result);
                //$( document ).getElementById('flash').innerHTML = 'Success:' +result;
            })
            .catch((error) => {
                console.error('Error :', error);
                //$( document ).getElementById('flash').innerHTML = 'Error:' + error;
            });

    });
</script>