<a href="#" class="aWCRS381_Montant">          
<span class="spanWCRS381_Notification cartouche-panier-vide">0</span>          
<span class="spanWCRS381_Montant">Panier : </span>           
<strong class="strongWCRS381_Montant">0,00 €</strong>         
</a>