<div id="ctl00_ctl00_ucWCSD001_BandeauMultiUnivers_ctl00_pnlCartouchePanier" data-infomil-control="$.infomil.widgCartouchePanier">
		
        
    <div id="ctl00_ctl00_ucWCSD001_BandeauMultiUnivers_ctl00_EnteteCartouchePanier_pnlEnteteCartouchePanier" data-infomil-control="$.infomil.widgEnteteCartouchePanier">     <header class="headerWCRS381_EnTetePanier">         <a href="#" class="aWCRS381_Montant">          <span class="spanWCRS381_Notification cartouche-panier-vide">0</span>          <span class="spanWCRS381_Montant">Panier : </span>           <strong class="strongWCRS381_Montant">0,00 €</strong>         </a>     </header> </div>

    <div class="divWCRS319_CartouchePanier">
        <div id="divWCRS319_ConteneurCartouche">     <div id="divWCRS319_MultiPaniers" class="divWCRS319_MultiPaniers mono-univers" style="height: 206px;">                  <div class="divWCRS319_ScrollPane panier-vide" style="height: 16px; padding: 0px; width: 200px;">              <div class="jspContainer marquer" style="width: 200px; height: 190px;"><div class="jspPane" style="padding: 0px; top: 0px; width: 200px; left: 0px;"><dl id="sId3" class="dlWCRS319_PanierUnivers">             <dt class="dtWCRS319_Panier univers-4">                 <span class="spanWCRS319_Notification">0</span>                 <span class="spanWCRS319_Montant">Traiteur : </span>                 <strong class=" strongWCRS319_Montant">0,00 €</strong>                 <a href="#" class="aWCRS319_TogglePanier">&nbsp;</a>             </dt>             <dd class="ddWCRS319_Produits">                 <ul id="ulWCRS319_Produits" class="ulWCRS319_Produits">                                      </ul>             </dd>         </dl></div></div></div>      </div> </div>
        
        <footer class="footerWCRS319_Pied">
	        <div class="divWCRS319_Totaux">
		        <p class="pWCRS319_Economies clearfix">
                    <span class="spanWCRS319_MontantTotal">0,00 €</span> 
                    Mes économies
                    <span data-sclasscss="infoBulle  " data-uid="akm405" class="infoBulle  "><span class="spanWCRS319_Infobulle" title="">&nbsp;</span><span class="infoBulle-contenu" style="transform: translate(0px, -1px);">Le montant de vos économies correspond au total des remises obtenues sur les produits en promotion </span><span class="infoBulle-accroche" style="transform: translate(0px, -1px);">&nbsp;</span></span>
		        </p>
		        <p class="pWCRS319_Total clearfix">
                    <span class="spanWCRS319_MontantTotal">0,00 €</span>
                    Total à payer :
		        </p>
                 
	        </div>
            <div class="divWCRS319_Compteurs divWCTD221_Vertical">
			<div>
				


<div class="cssConnexionAvantages">
    <div id="ctl00_ctl00_ucWCSD001_BandeauMultiUnivers_ctl00_ConnexionAvantages_divWCLD307_ConnexionAvantage" class="divWCLD307_ConnexionAvantage" style="display:block;">
        
        <span id="ctl00_ctl00_ucWCSD001_BandeauMultiUnivers_ctl00_ConnexionAvantages_lblWCLD307_Accueil" class="lblWCLD307_Accueil">Pour bénéficier de tous les avantages</span>

        
        <a id="ctl00_ctl00_ucWCSD001_BandeauMultiUnivers_ctl00_ConnexionAvantages_lnkWCLD307_MIdentifier" onclick="javascript:WCLD307_OuvrirPopinAuthentification();return false;"><span id="ctl00_ctl00_ucWCSD001_BandeauMultiUnivers_ctl00_ConnexionAvantages_lblWCLD307_MIdentifier">M'identifier</span><span class="WCLD307-chevron">&nbsp;</span>
        </a>
            
            
        <a id="ctl00_ctl00_ucWCSD001_BandeauMultiUnivers_ctl00_ConnexionAvantages_lnkWCLD307_CreerCompte" href="https://fd9-espace-client.leclercdrive.fr/traiteur/magasin-020961-Foix/creation-compte.aspx"><span id="ctl00_ctl00_ucWCSD001_BandeauMultiUnivers_ctl00_ConnexionAvantages_lblWCLD307_CreerCompte" class="lblWCLD307_CreerCompte">Créer mon compte</span><span class="WCLD307-chevron">&nbsp;</span>
        </a>
    </div>
</div>
			</div><div>

			</div><div>

			</div><div>

			</div>
		</div>
            <ul class="ulWCRS319_Outils">
		        <li class="liWCRS319_Outil caddie"><a href="#" disabled="disabled" class="inactive WCTD_disabled">Voir le détail de mon panier</a></li>
		        <li class="liWCRS319_Outil lienViderPanier"><a href="#" disabled="disabled" class="inactive WCTD_disabled">Vider le panier</a></li>
		        <li class="liWCRS319_Outil liste"><a href="#" id="aWCRS319_AjoutPanierListe" class="aWCRS319_AjoutPanierListe inactive WCTD_disabled" disabled="disabled">Ajouter le panier dans une liste</a></li>
	        </ul>
	        <a href="#" class="bouton bouton-bleu aWCRS319_BoutonPayer bouton-gris inactive WCTD_disabled">Valider et payer</a>
        </footer>
    </div>

	</div>