<div>
    <h4>Panier</h4>
    {#{% for element in cart %}
        <p>{{ element.name }}</p>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endfor %}#}
    <p id="flash"> ici seras affiché des flash de succès et d'erreurs</p>

</div>
<script>
    $( document ).click(() => {
        alert('salut');
        fetch('http://127.0.0.1:8000/api_get_cart')
            .then((response) => response.json())
            .then((result) => {
                console.log('Success :', result);
                for (let element in result) {
                    let div = document.createElement('div');
                    div.text(element.quantity.concat('*',element.product));
                };
                
            })
            .catch((error) => {
                console.error('Error :', error);
            });

    });
</script>