<div>
    <h4>Panier</h4>
    {#{% for element in cart %}
        <p>{{ element.name }}</p>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endfor %}#}
    <p id="flash"> ici seras affiché des flash d'erreurs</p>

</div>
<script>
    $( document ).click(() => {
        fetch('http://127.0.0.1:8000/app_api%3Fformat=json')
            .then((response) => response.json())
            .then((result) => {
                alert('Success:', result);
            })
            .catch((error) => {
                $( document ).getElementById('flash').innerHTML = 'Error:', error;
            });

    });
</script>