<div>
    <h4>Panier</h4>
    {#{% for element in cart %}
        <p>{{ element.name }}</p>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endfor %}#}
    <p id="flash"> ici seras affiché des flash de succès et d'erreurs</p>
    <div id="cart">
    </div>

</div>
<script>
    $( document ).click(() => {
        fetch('http://127.0.0.1:8000/api_get_cart')
            .then((response) => response.json())
            .then((result) => {
                console.log('Success :', result);
                $("#cart").empty();
                for (let element of result) {
                    $("<p>" + element.quantity + "*" + element.product + "</p><hr>").appendTo('#cart');
                }
            })
            .catch((error) => {
                console.error('Error :', error);
            });
    });
</script>