<div>
    <h4>Panier</h4>
    {#{% for element in cart %}
        <p>{{ element.name }}</p>
    {% else %}
        <p>Votre panier est vide.</p>
    {% endfor %}#}

</div>
<script>
    $( document ).click(() => {
        if (1) {
            let twigCart = [];
            alert(twigCart);
        }                 
    });
</script>