<div class="col mw-68 justify-content-center">
    {% include('__utils/__flash.html.twig') %}
    <div class="d-flex align-items-center flex-column mb-3">
        <div class="p-2">
                {% include('__utils/pagination.html.twig') %}
        </div>
    </div>
    {% block body %}
                
                
    {% endblock %}
    <div class="d-flex align-items-center flex-column mb-3" style="height: 200px;">
    <div class="p-2">
        {% include('__utils/pagination.html.twig') %}
    </div>
        <div class="p-2">
            <a class="link-dark" href="#scrollspyHeader"><div class="border rounded-3 d-flex justify-content-center" style="width:50px"><i data-feather="chevrons-up"></i></div></a><script>feather.replace()</script>
        </div>
                    
    </div>              
</div>