
    <ul class="nav flex-column h-100">
        <li class="nav-item">
            <a href="{{ path('app_home') }}" class="nav-link hover-blue" aria-current="page">
                <i data-feather="home"></i>
                    Home
            </a>
        </li>
        <li>
            <a href="{{ path('cart') }}" class="nav-link hover-blue">
                <i data-feather="shopping-cart"></i>
                    Panier
            </a>
        </li>
        <li>
            <a href="#" class="nav-link hover-blue">
                <i data-feather="archive"></i>
                    Commandes
            </a>
        </li>
        <li>
            <a href="#" class="nav-link hover-blue">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link hover-blue">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Customers
                </a>
        </li>
    </ul>
    {## css perso ##}
    <style>.hover-blue{color: white;font-size: 1.2em;}.hover-blue:hover{color: blue;font-size: 1.4em;}</style>
    {## js pour les icons ##}
    <script>feather.replace()</script>
