<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid border-bottom">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category 1
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Sub-Category</a></li>
                    <li><a class="dropdown-item" href="#">Sub-Category</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category 2
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Sub-Category</a></li>
                    <li><a class="dropdown-item" href="#">Sub-Category</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category 3
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Sub-Category</a></li>
                    <li><a class="dropdown-item" href="#">Sub-Category</a></li>
                </ul>
            </li>
            </ul>
        </div>
    </div>
</nav>