<!DOCTYPE html>
<html>
    <head>
        {### Metas ###}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {###  ###}
        {### link CSS and JS ###}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

            <script src="https://unpkg.com/feather-icons"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        {###  ###}
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        
    </head>
    <body>
        <header id="scrollspyHeader">
            {% include('__header/header.html.twig') %}
        </header>
        
        <div class="container text-center mw-100">
            <div class="row ">
                {% include('__utils/main_menu.html.twig') %}
                <div class="col mw-68">
                    {% include('__utils/__flash.html.twig') %}
                    {% block body %}
                
                
                    {% endblock %}
                    <a href="#scrollspyHeader"><i data-feather="chevrons-up"></i></a>
                </div>
                
                <div class="col border" style="max-width:15%;">
                    {% include('__utils/cart_shortcut.html.twig') %}
                </div>
            </div>
        </div>
        
        <footer>
            {% include('__footer/footer.html.twig') %}
        </footer>
        
    </body>
</html>
