<!DOCTYPE html>
<html>
    <head>
        {### Metas ###}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {###  ###}
        {### link CSS and JS ###}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

            <script src="https://unpkg.com/feather-icons"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        {###  ###}
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        
    </head>
    <body>
        <header>
            {% include('__header/header.html.twig') %}
        </header>
        
        <div class="container text-center mw-100">
            <div class="row border">
                <div class="col-3 bg-dark mh-100">
                    <ul class="nav flex-column h-100">
                        <li class="nav-item">
                            <a href="{{ path('app_home') }}" class="nav-link hover-blue" aria-current="page">
                                <i data-feather="home"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('cart') }}" class="nav-link hover-blue">
                                <i data-feather="shopping-cart"></i>
                                Panier
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link hover-blue">
                                <i data-feather="archive"></i>
                                Commandes
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link hover-blue">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                            Products
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link hover-blue">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                            Customers
                            </a>
                        </li>
                        </ul>
                        {## css perso ##}
                        <style>.hover-blue{color: white;font-size: 1.2em;}.hover-blue:hover{color: blue;font-size: 1.4em;}</style>
                        {## js pour les icons ##}
                        <script>feather.replace()</script>
                    </div>
                <div class="col-9">
                    {% include('__utils/__flash.html.twig') %}
                    {% block body %}
                
                
                    {% endblock %}
                </div>
            </div>
        </div>
        <footer>
            {% include('__footer/footer.html.twig') %}
        </footer>
        
    </body>
</html>
