{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}


{% block body %}
    <div class="d-inline" style="height:100%">
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix au kilo</th>
                    <th>quantité</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for number,element in data %}
                    <tr>
                        <td>{{ element.product.name }}</td>
                        <td>{{ element.product.pricePerKg }}</td>
                        <td>{{ element.quantity }}</td>
                        <td>{{ element.quantity * element.product.pricePerKg }}</td>
                        <td>
                        {{ number }}
                            <a href={{ path('cart_add',{'id' : element.product.id,'route' : 'cart'}) }} product.name class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">+🛒</a>
                            <a onclick="fetch('http://127.0.0.1:8000/cart_delete%3Fid=+{{ number + 1 }}%26all=false')
                                            .then(response => response.text())
                                            .then(text => alert('quelque chose'))
                                            .catch(error => alert('Erreur : ' + error));"
                                class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">-🛒</a>
                            <a href={{ path('cart_delete',{'id' : element.product.id,'route' : 'cart','all' : 1}) }} product.name class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">👁</a>
                        </td>
                    </tr>
                    
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Votre panier est <strong>vide</strong></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-inline">
        {{ form_start(form) }}
        {{ form_widget(form.email) }}
        {{ form_widget(form.save) }}  
        {{ form_end(form) }}  
    </div>
{% endblock %}
