{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<h1>Hello {{ controller_name }}! ✅</h1>

<table class="table">
    <thead>
        <th>Produit</th>
        <th>Prix au kilo</th>
        <th>quantité</th>
        <th>Prix/quantité</th>

    </thead>
</table>
{% endblock %}
