{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<h1>Hello {{ controller_name }}! ✅</h1>

<table class="table">
    <thead>
        <tr>
            <th>Produit</th>
            <th>Prix au kilo</th>
            <th>quantité</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in cart %}
            <tr>
                <td colspan="5" class="text-center">Votre panier est <strong>vide</strong></td>
            </tr>
        {% else %}

        {% endfor %}
    </tbody>
</table>
{% endblock %}
