{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}


{% block body %}
{% set session = app.session %}
{#{% set cookie = session.get('cookie') %}#}


<script>
let session = {{ session }};
if (session){
    alert({{ session.get('cookie') }})
    fetch('{{ app.request.getBaseUrl() }}/api_save_cookie')
        .then(response => response.text())
        .catch(error => alert('Erreur : ' + error));
}
</script>
    <div class="d-inline" style="height:100%">
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>quantité</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% include('__card/cart_table.html.twig') %}
            </tbody>
        </table>
    </div>
    
    <div class="d-inline">
        {{ form_start(form) }}
            {{ form_widget(form.email) }}
            {{ form_widget(form.save) }}  
        {{ form_end(form) }}  
    </div>
{% endblock %}
