{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}


{% block body %}
    <div class="d-inline" style="height:100%">
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix au kilo</th>
                    <th>quantité</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
            
                {% for element in data %}
                <script>
                    $( document ).on("click","#product{{ element.product.id }}all0",function() {
                        const element = document.getElementById("product{{ element.product.id }}");
                        fetch('http://127.0.0.1:8000/cart_delete%3Fid={{ element.product.id }}%26all=false')
                            .then(response => response.text())
                            .catch(error => alert('Erreur : ' + error));
                        if ($(this).closest("tr").find("td:eq(2)").text() > 1){
                            document.getElementById("quantity{{ element.product.id }}").innerHTML -= 1;
                        } else {
                            document.getElementById("tbody").deleteRow(document.getElementById("ligne{{ element.product.id }}"));
                        }  
                    }); 
                    $( document ).on("click","#product{{ element.product.id }}all1",function() {
                        const element = document.getElementById("product{{ element.product.id }}");
                        fetch('http://127.0.0.1:8000/cart_delete%3Fid={{ element.product.id }}%26all=true')
                            .then(response => response.text())
                            .catch(error => alert('Erreur : ' + error));
                        document.getElementById("tbody").deleteRow(document.getElementById("ligne{{ element.product.id }}")); 
                    });      
                </script>
                    <tr>
                        <td>{{ element.product.name }}</td>
                        <td>{{ element.product.pricePerKg }}</td>
                        <td id="quantity{{ element.product.id }}" value={{ element.quantity }}>{{ element.quantity }}</td>
                        <td>{{ element.quantity * element.product.pricePerKg }}</td>
                        <td>
                        {{  element.product.id}}
                                        <a onclick="fetch('http://127.0.0.1:8000/cart_add%3Fid='+{{ element.product.id }})
                                                        .then(response => response.text())
                                                        .catch(error => alert('Erreur : ' + error));"
                data-id="{{ product.name }}" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">+🛒</a>
                            <a id="product{{ element.product.id }}all0" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">-🛒</a>
                            <a id="product{{ element.product.id }}all1" class="btn btn-sm btn-outline-secondary" tabindex="-1" role="button" aria-disabled="true">👁</a>
                        </td>
                    </tr>
                    
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Votre panier est <strong>vide</strong></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-inline">
        {{ form_start(form) }}
        {{ form_widget(form.email) }}
        {{ form_widget(form.save) }}  
        {{ form_end(form) }}  
    </div>
{% endblock %}
