{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}


{% block body %}
{% set cookie = 'app.session.get("cookie")' %}
{% if cookie is defined %}
    
{% endif %}
    <div class="d-inline" style="height:100%">
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>quantité</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {% include('__card/cart_table.html.twig') %}
            </tbody>
        </table>
    </div>
    
    <div class="d-inline">
        {{ form_start(form) }}
            {{ form_widget(form.email) }}
            {{ form_widget(form.save) }}  
        {{ form_end(form) }}  
    </div>
{% endblock %}
