{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="album py-5 d-inline-flex">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            {% for product in products %}
                {% include('__card/card_product.html.twig') %}
            {% endfor %}
            {{ knp_pagination_render(products) }}
            </div>
        </div>
    </div>
    {% include('__utils/pagination.html.twig') %}
{% endblock %}
