{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        {% include('__sidebar/main_sidebar.php') %}
    </div>
{% endblock %}
