{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <div class="d-inline-flex" style="height:100%">
            {% include('__utils/main_menu.html.twig') %}
        </div>

        
        <div class="album py-5 d-inline-flex">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
                {% for product in products %}
                    {% include('__card/card_product.html.twig') %}
                {% endfor %}
                {{ knp_pagination_render(products) }}
                </div>
            </div>
        </div>
        {% include('__utils/pagination.html.twig') %}
    </div>
    
{% endblock %}
