{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container border border-primary">
        <div class="border border-primary">
            {% include('__sidebar/main_sidebar.php') %}
        </div>
        
    </div>
{% endblock %}
