{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <div class="border" style="height:15%;width:100%">
            {% include('__utils/main_menu.php') %}
        </div>

        
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                {% for product in products %}
                    {% include('__card/card_product.php') %}
                {% endfor %}
                </div>
            </div>
        </div>
        {% include('__utils/pagination.php') %}
    </div>
    
{% endblock %}
