{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
    </div>
    
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            {% for product in products %}
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="125" xmlns="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.krill.fr%2Fmedia%2Fcatalog%2Fproduct%2Fcache%2F9d3350e19b1540f8a108ebeab8c92f26%2F5%2F5%2F558311-00576647-a-b-8-f-558311-00576647-cuisse-de-poulet-blanc-avec-partie-de-dos.jpg&imgrefurl=https%3A%2F%2Fwww.krill.fr%2Fproduits%2Fgamme-produits%2F558311-00576647-cuisse-de-poulet-blanc-avec-partie-de-dos%2F&tbnid=OULUz2ktk-gWSM&vet=12ahUKEwivgvn3vsT8AhVakScCHbutDTMQMygBegUIARCBAg..i&docid=SiDnA2cF6aoijM&w=900&h=900&q=CUISSE%20DE%20POULET&client=ubuntu&ved=2ahUKEwivgvn3vsT8AhVakScCHbutDTMQMygBegUIARCBAg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-body">
                            <p>{{ product.name }}</p>
                            <p>{{ product.pricePerKg }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">👁</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">+🛒</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
        </nav>
{% endblock %}
